<template>
  <div id="app">
      <div>
				<input type="text" v-model="info">
				<button @click="handleClick">添加</button>
			</div>
			<ul>
				<!-- <li v-for="item in list">{{item}}</li> -->
				<todo-item v-for="item in list" :key="item">
          <template v-slot:item="itemProps">
            <span :style="{fontSize:'20px',color:itemProps.checked?'red':'blue'}">{{item}}</span>
          </template>
        <!-- <span slot="item" style='font-size:20px'>{{item}}</span> -->
        </todo-item>
			</ul>
  </div>
</template>

<script>
import TodoItem from './components/TodoItem'

export default {
  name: 'App',
  data(){
      return {
    
        info:'',
        list:[]
      }
    },
    methods: {
      handleClick(){
        // console.log(this.info);
        this.list.push(this.info)
        this.info = ''
      }
    },
  components: {
    TodoItem
  }
}
</script>

<style>
</style>
