<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
 
  </div>
</template>

<script>
export default {
  data () {
    return {
      msg: '应用管理'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
