<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
	<style>
		[v-cloak]{
			display: none;
		}
	</style>
</head>
<body>
    <div id="app">
        {{msg}}
        <div>
			<input type="text" name="" id="" value=""v-model="msg" />
		</div>
		<div>
			{{num}}
			<button type="button" @click="num++">点击</button>
		</div>
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                msg:"vue框架",
				num:0
            }
        });
    </script>
</body>
</html>