<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>用户名：{{username}}</h1>
        <h3 v-if="isVip">用户类型：vip</h3>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                username:'小明',
                isVip:false
            }
        });
    </script>
</body>
</html>