<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>demo</title>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<button type="button" @click="minus">-</button>
			<span>{{n}}</span>
			<button type="button" @click="add">+</button>
			<div>
				<h3>用户名：{{username}}</h3>
				<h3>性别：{{sex==1?'男':'女'}}</h3>
				<h3>下单时间：{{new Date().toLocaleDateString()}}</h3>
				<h3>小计：{{(price*count).toFixed(2)}}</h3>
			</div>
			<div v-bind:class="classObject">
				
			</div>
		</div>
		<script type="text/javascript">
			var data = {n:0}
			new Vue({
				el:"#app",
				data:{
					n:0,
					username:'张三',
					sex:1,
					price:10.255,
					count:2,
					isActive:true,
					error:null
				},
				methods:{
					add(){
						this.n++;
					},
					minus(){
						if(this.n>0){
							this.n--;
						}
					}
				},
				computed:{
					classObject:function(){
						return {
							active:this.isActive && !this.error,
							'text-danger':this.error && this.error.type==='fatal'
						}
					}
				}
			})
		</script>
	</body>
</html>
