<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			{{major}}程序员
			<input type="text" name="" id="" value="" @input="changeMajor" />
			{{link}}
			<a :href="link">百度</a>
		</div>
		<script type="text/javascript">
			new Vue({
				el:"#app",
				data:{
					major:'php',
					link:"http://www.baidu.com"
				},
				methods:{
					changeMajor(e){
						//console.log(e.target.value);
						this.major = e.target.value
					}
				}
			})
		</script>
	</body>
</html>
