<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自定义组件事件</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <my-component @myclick="onClick"></my-component>
    </div>
    <div id="app1">
        <my-component1 v-model="hello"></my-component1>
        <div>{{hello}}</div>
    </div>
    <script>
        // Vue.component('my-component',{
        //     template:`<div><button @click="childClick">点击我触发自定义事件</button></div>`,
        //     methods: {
        //         childClick(){
        //             this.$emit('myclick','这是我暴露出去的数据','这是我暴露出去的数据2')
        //         }
        //     },
        // })
        // new Vue({
        //     el:"#app",
        //     methods:{
        //         onClick(){
        //             console.log(arguments)
        //         }
        //     }
        // })

        Vue.component('my-component1',{
            template:`<input ref="input" type="text" :value="value" @input="checkInput($event.target.value)">`,
            props:['value'],
            methods: {
                checkInput(value){
                    var hello = 'hello'
                    if(!hello.includes(value)){
                        this.$emit('input',hello)
                        this.$refs.input.value = hello
                    }else{
                        this.$emit('input',value)
                    }
                }
            },
        })
        new Vue({
            el:"#app1",
            data(){
                return {
                    hello:''
                }
            }
        })
    </script>
</body>
</html>