<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大麦网</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .menu{
            display: flex;
            padding: 10px 0;
        }
        .menu li{
            padding: 5px 20px;
            /* background: pink; */
            margin: 0 10px;
            cursor: pointer;
            border-radius: 3px;
        }
        .menu li.active{
            background: orangered;
            color: #fff;
        }
    </style>
</head>
<body>
    <div id="app">
        <div style="width: 1000px;border: 1px solid red;margin: 100px auto;">
            <div class="menu">
                <li>城市：</li>
                <li :class="{active:i===activeCityIndex}" v-for="(item,i) in cityList" @click="activeCityIndex=i">{{item.name}}</li>
            </div>
            <div class="menu">
                <li>类型：</li>
                <li :class="{active:i===activeTypeIndex}" v-for="(item,i) in typeList" @click="activeTypeIndex=i">{{item.name}}</li>
            </div>
            <ul class="showlist" style="padding: 20px;">
                <li style="display: flex;padding: 20px 0;" v-for="item in showList">
                    <img :src="item.img" alt="" width="150px" height="200px">
                    <div style="padding: 20px;">
                        <div>{{item.name}}</div>
                        <div>{{item.artist}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data() {
                return {
                    showList:[
                        {
                            id:1,
                            name:'【北京】 “My Love刘德华巡回演唱会 2020”官方周边商品',
                            artist:'蔡依林',
                            img:'https://img.alicdn.com/bao/uploaded/i2/2251059038/O1CN01ZYFxKt2GdSEWTMcjm_!!0-item_pic.jpg_q60.jpg_.webp'
                        },
                        {
                            id:2,
                            name:'【呼和浩特】 2020任贤齐“齐迹”巡回演唱会 呼和浩特站',
                            artist:'任贤齐',
                            img:'https://img.alicdn.com/bao/uploaded/https://img.alicdn.com/imgextra/i3/2251059038/O1CN01a89g5r2GdSDs44jUJ_!!2251059038.jpg_q60.jpg_.webp'
                        },
                        {
                            id:3,
                            name:'【武汉】 Madilyn Bailey Tastes Like Karma Tour 2020 巡演-武汉站',
                            artist:'Madilyn',
                            img:'https://img.alicdn.com/bao/uploaded/i1/2251059038/O1CN015t6qS02GdSEesYdiN_!!0-item_pic.jpg_q60.jpg_.webp'
                        },
                        {
                            id:4,
                            name:'【武汉】 仙羽 “悬崖的花” TOUR 2020 武汉站',
                            artist:'仙羽',
                            img:'https://img.alicdn.com/bao/uploaded/i3/2251059038/O1CN01hFVQPb2GdSEePQzUj_!!0-item_pic.jpg_q60.jpg_.webp'
                        },
                    ],
                    activeCityIndex:0,
                    cityList:[
                        {
                            id:0,
                            name:'全部'
                        },
                        {
                            id:1,
                            name:'南京'
                        },
                        {
                            id:2,
                            name:'上海'
                        },
                        {
                            id:3,
                            name:'苏州'
                        },
                    ],
                    activeTypeIndex:0,
                    typeList:[
                        {
                            id:0,
                            name:'全部'
                        },
                        {
                            id:1,
                            name:'演唱会'
                        },
                        {
                            id:2,
                            name:'戏剧'
                        },
                        {
                            id:3,
                            name:'歌唱比赛'
                        },
                    ],
                }
            },
        })
    </script>
</body>
</html>