<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue基础语法</title>
		<style>
			.item{
				color: pink;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<fieldset>
				<legend>添加</legend>
				<div>
					<!-- 图片<input type="text" :value="img" @input='img = $event.target.value'> -->
					图片<input type="text" v-model="img">
				</div>
				<div>
					<!-- 昵称<input type="text" :value="nickname" @input="nickname = $event.target.value"> -->
					昵称<input type="text" v-model="nickname">
				</div>
				<div>
					<button @click="add">添加</button>
				</div>
			</fieldset>
			<ul>
				<li v-for="(item,i) in arr">
					<img :src="item.img" alt="" width="100px" height="150px">
					<a :href="'detail.html?name='+item.name">{{item.name}}</a>
					<button @click="del(i)">删除</button>
				</li>
			</ul>
			<div>
				<input type="text" v-model="info">
				<button @click="handleClick">添加</button>
			</div>
			<ul>
				<!-- <li v-for="item in list">{{item}}</li> -->
				<todo-item v-for="item in list" :item='item'></todo-item>
			</ul>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="text/javascript">
			//Vue.config.devtools = false
			Vue.component('todo-item',{
				props:['item'],
				template:'<li class="item">{{item}}</li>'
			})
			let vm = new Vue({
				//el:"#app",
				data(){
					return {
						img:"https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=644982016,2764378974&fm=26&gp=0.jpg",
						nickname:"Simba",
						arr:[
							{
								img:"https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=644982016,2764378974&fm=26&gp=0.jpg",
								name:"simba"
							},
							{
								img:"https://dss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3832872280,1617284227&fm=26&gp=0.jpg",
								name:"ace"
							},
							{
								img:"https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3317421037,2128551554&fm=26&gp=0.jpg",
								name:"roger"
							},
						],
						info:'',
						list:[]
					}
				},
				methods: {
					del(i){
						this.arr.splice(i,1);
					},
					add(){
						this.arr.unshift({
							img:this.img,
							name:this.nickname
						})
					},
					handleClick(){
						// console.log(this.info);
						this.list.push(this.info)
						this.info = ''
					}
				},
			});
			vm.$mount("#app");
		</script>
	</body>
</html>
