<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轮播图</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .demo li{
            width: 300px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-show="false"></div>
        <ul class="demo">
            <li v-for="(item,i) in imgList" :style="{background:item}" v-show="i===activeIndex">      
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data() {
                return {
                    activeIndex:0,
                    imgList:['red','blue','green','yellow']
                }
            },
            mounted() {
                setInterval(()=>{
                    //this.activeIndex++;
                    if(++this.activeIndex===this.imgList.length) this.activeIndex = 0;
                },2000);
            },
        })
    </script>
    
</body>
</html>