<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="box">
		<input type="checkbox" name="" id="" value="" @change="handleChange" v-model="isAllChecked" />
		<ul>
			<li v-for="data in datalist">
				<input type="checkbox" name="" id="" :value="data" v-model="checkgroup" @change="handleLiChange" />
				{{data}}
				<button type="button" @click="handleDelClick(data)">del</button>
				{{data.number}}
				<button type="button" @click="data.number++">add</button>
			</li>
		</ul>
		{{checkgroup}}
		<p>总金额计算：{{getSum()}}</p>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#box",
			data:{
				checkgroup:[],
				isAllChecked:false,
				datalist:[
					{
						name:'商品1',
						price:10,
						number:1,
						id:1
					},
					{
						name:'商品2',
						price:100,
						number:2,
						id:2
					},
					{
						name:'商品3',
						price:30,
						number:3,
						id:3
					},
				]
			},
			methods:{
				getSum(){
					var sum = 0;
					for(var i in this.checkgroup){
						sum+=this.checkgroup[i].number*this.checkgroup[i].price
					}
					return sum;
				},
				handleChange(){
					//console.log(this.isAllChecked);
					if(this.isAllChecked){
						this.checkgroup = this.datalist
					}else{
						this.checkgroup = []
					}
				},
				handleLiChange(){
					if(this.checkgroup.length === this.datalist.length){
						this.isAllChecked = true
					}else{
						this.isAllChecked = false
					}
				},
				handleDelClick(data){
					var number = data.number--;
					if(number === 1){
						data.number = 1;
					}
				}
			}
		})
	</script>
</body>
</html>